/* Corpo da página, titulos e botões */

body{
    font-family: 'Nunito', sans-serif;
    color: #333;
}

.logo-nav{
    position:absolute;
    width: 140px;
    height: auto;
    left: 10px;
    top: 35px;
}
.logo-centro{
    width: 400px;
    height: auto;
    display: block;
    margin: 50px auto 0 auto;
}

h1, h2 , h3{
    font-family: 'Asap', sans-serif;
    color: #410b0b;
}

.botao{
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #b05656;
    font-size: .9em;
    border-radius: 3px;
    margin: 0 auto 10px;
}

.botao:hover{
    background-color: #924040;
}

/* Navegação */

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 300px ;
    
}

nav ul{
    display: flex;
    flex-direction:column;
    align-items: center;
    list-style: none;
    padding: 10px;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;

}

nav ul li a{
    display:inline-block;
    width: 100%;
    font-size: larger;
    text-decoration: none;
    color: #410b0b;
}

nav ul li a:hover{
    color: #d87676;
}

.principal{
    padding: 10px 0px;
    margin-right: 100px;
    
}

.redes-sociais ul li{
    padding: 10px 0px;
    margin-left: 20px;
}

/* Cabeçalho */

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../imagens/estudio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 20px;
}

header h2{
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    color: #fff;
    margin-top: 2em;
    margin-bottom: 3em;
}

/* Quem somos */

#quem-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 10px 80px 20px;
    background-color: #f2efef;
    color: #1c1c1c;
}

#quem-somos p{
    margin-bottom: 2.5em;
    max-width: 1000px;

}

/* Serviços */

#servicos{
    display :flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

#servicos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;

}

/* Portifólio */

#portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#porifolio h2{
    display: flex;
    margin-bottom: 40px;
    
}

#portifolio img{
    width: 90%;
    
}

/* Contato */

#contato{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

#contato p{
    margin-bottom: 80px;
    font-size: large;
}

#contato a{
    text-decoration: none;
    color: #410b0b;

}

/* Rodapé */

footer{
    text-align: center;
    padding: 20px;
    background-color: #f2efef;
}

footer p{
    margin-top: 20px;
    margin-bottom: 0px;

}

@media screen and (min-width: 768px){
    /* Navegação */
    nav{
        flex-direction: row;
        width: 70%;
        justify-content: space-around;
    }
    nav ul{
        flex-direction: row;
        width: 70%;

    }

    /* Cabeçalho */
    header{
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    /* Quem Somos */
    #quem-somos{
        height: 250px;
        height: 55vh;
        justify-content: center;
        min-height: 250px;
    }
    /* Serviços */

    #servicos{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;

    }

    #servicos h2{
        text-align:center;
        width: 100%;
    }
    #servicos div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

     /* Portifólio */
     #portifolio{
        flex-direction: row;
        flex-wrap: wrap;

    }
    #portifolio h2{
        
        width: 100%;
        text-align: center;
    }
    #portifolio img{
        width: 33.33333%;
    }
    
    
    /* Contato */

    #contato{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;

    }
    #contato h2, #contato p{
        width: 100%;
    }
}
